/* ==UserStyle==
@name        RedmineLayoutFixer, rearranges the layout of Redmine issue pages.
@namespace   https://github.com/suterma/RedmineLayoutFixer/
@description For the RedmineLayoutFixer.user.js, this provices the styling. Use with URL's matching the regexp: https://.*redmine.*\/issues\/.*
@author      opensource@marcelsuter.ch, GPLv3 License
@version     1.0.1
@grant       none
@downloadURL https://github.com/suterma/RedmineLayoutFixer/raw/master/RedmineLayoutFixer.user.css
@updateURL   https://github.com/suterma/RedmineLayoutFixer/raw/master/RedmineLayoutFixer.user.css
==/UserStyle== */
/* Overview
 * This CSS styles an icon in a "copy text link"
 */
/* The introduced icon should not disturb the layout, and preferrably
    appear just right of the target element */
.copy-icon {
    /* Use an icon for the anchor, as background image
       Use the "file" icon from the open iconic set.
       The open iconic set is provided under the 
       MIT License See https://opensource.org/licenses/MIT.
       */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="8" height="8" data-icon="file" viewBox="0 0 8 8"> <path style="fill:rgb(85, 85, 85);" d="M0 0v8h7v-4h-4v-4h-3zm4 0v3h3l-3-3z" /></svg>');

    background-size: 1em;
    background-repeat: no-repeat;
    background-position: center;
    /* Position the anchor to fit nicely at the end of the target element,
       and keep some gap, to not disturb reading.*/
    height: 1.5em;
    width: 1.5em;
    display: inline-flex;
    margin-left: 10px;
}
/* style similar to link on hover */
.copy-icon:hover {

    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="8" height="8" data-icon="file" viewBox="0 0 8 8"> <path style="fill:rgb(198, 26, 26);" d="M0 0v8h7v-4h-4v-4h-3zm4 0v3h3l-3-3z" /></svg>');
    text-decoration-line: none;
}


/* Align the subject header to the text in the issue */
div.subject h2 {
    margin: 0 0 0 0;
}

/* Simplify issues visualization*/
div.issue {
    background: none;
    padding: 0;
    border: none;
}
#content {
    /*background: #f0f0f0;*/
    background-color: #ffffdd;
}
div#issue-changesets {
    background: #f0f0f0;
}
table.list:not(.odd-even) tbody tr:nth-child(2n),
.even,
#issue-changesets div.changeset:nth-child(2n) {
    background: #f0f0f0;
}

/* Use full width */
#wrapper3,
#header,
#top-menu,
#main {
    margin: 0;
}
